@font-face {
    font-family: "JordanFont";
    src: url("/font/haettenschweiler_[fr.allfont.net].ttf");
}

body {
    background: linear-gradient(70deg, rgba(174,12,185,1) 29%, rgba(192,0,255,1) 70%);
    /* background-color: darkcyan; */
    padding: 0;
    margin: 0;
}

/* == Banner == */
.banner {
    width: 100%;
    height: 11vh;

}

.backgroundBanner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 11vh;
    background: linear-gradient(70deg, rgba(0,0,0,0.4) 18%, rgba(0,0,0,0.4) 68%);
}

.imageSneakers {
   width: 55px;
   height: 55px;
   margin-left: 5%;
}

.jordanTitle {
    font-family: "JordanFont";
    color: white;
    font-size: 22px;
    margin-left: 0.2%;
}


/* == NavBar == */
ul {
    list-style-type: none;
}

.navBarBanner {
    margin-left: auto;
}

.navBar {
    display: flex;
}

li {
    font-family: "JordanFont";
    font-size: 22px;
    color: white;
    margin-left: 55px;
}

.lastLi {
    margin-right: 75px;
}

/* ====== Container ====== */
/* == Container Edit == */
.container {
    display: inline;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: red;
}

.mainTitle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 45px;
    font-family: "JordanFont";
    font-weight: normal;
}

/* == Image == */
.sneakersImageBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sneakersImage {
    width: 17%;
    filter: drop-shadow(5px 5px 45px #000000);
}

/* == Chevron Image == */
.fa-chevron-left {
    color: white;
    font-size: 62px;
    margin-right: 65px;
}

.fa-chevron-right {
    color: white;
    font-size: 62px;
    margin-left: 65px;
}

.fa-chevron-left:hover {
    font-size: 60px;
}

.fa-chevron-right:hover {
    font-size: 60px;
}

/* == Text Container == */
.textContainer {
    /* haut | droit | bas | gauche */
    padding: 0 35% 0 35%;
    font-family: monospace;
    color: white;
}

/* == Buy It == */
.buyitButtonArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 35px;
}

.buyitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 35px;
    color: white;
    border-radius: 25px;
    font-family: "JordanFont";
    font-weight: normal;
    font-size: 25px;
    background-color: black;
}
